@charset "utf-8";

// FONT
$base-font:arial, helvetica, sans-serif;
$base-font-weight: 300;
$text-margin:.7em;

$base-font-size: 14px;
$base-font-size-480: 14px;
$base-font-size-640: 15px;
$base-font-size-960: 16px;
$base-line-height:1.4;


// Højde bredde basic
$base-margin:20px;
$page-width-max:1280px;
$read-width-max:640px;

