.video-wrap{
    padding-bottom: 56.25%;
    position:relative;
    height: 0px;
    
    iframe{
        position:absolute;
        width:100%;
        height:100%;
        top:0;
    }
    
    .playbtn{
        @include center(true,true);
    }
    
    &.mobile .playbtn{
        pointer-events: none;
    }
}